class Modernize < Formula
  desc "AI-powered CLI for application modernization"
  homepage "https://github.com/{{REPO}}"
  version "{{VERSION}}"

  if OS.mac?
    if Hardware::CPU.intel?
      url "https://github.com/{{REPO}}/releases/download/v{{VERSION}}/modernize_{{VERSION}}_darwin_x64.tar.gz"
      sha256 "{{DARWIN_X64_SHA256}}"
    elsif Hardware::CPU.arm?
      url "https://github.com/{{REPO}}/releases/download/v{{VERSION}}/modernize_{{VERSION}}_darwin_arm64.tar.gz"
      sha256 "{{DARWIN_ARM64_SHA256}}"
    end
  elsif OS.linux?
    if Hardware::CPU.intel?
      url "https://github.com/{{REPO}}/releases/download/v{{VERSION}}/modernize_{{VERSION}}_linux_x64.tar.gz"
      sha256 "{{LINUX_X64_SHA256}}"
    elsif Hardware::CPU.arm?
      url "https://github.com/{{REPO}}/releases/download/v{{VERSION}}/modernize_{{VERSION}}_linux_arm64.tar.gz"
      sha256 "{{LINUX_ARM64_SHA256}}"
    end
  end

  license "Proprietary"

  def install
    libexec.install "modernize"
    libexec.install "runtimes"
    bin.install_symlink libexec/"modernize"
  end

  test do
    version_output = shell_output "#{bin}/modernize --version"
    assert_equal 0, $CHILD_STATUS.exitstatus
    assert_match "modernize", version_output
  end
end
